@charset "utf-8";
.blue{
    background-color: rgb(66, 64, 64);
    color: aliceblue;
}
span{
    font-size: 9px;
}
.bl{
    background-color: rgba(185, 181, 181, 0.872);
}
.ye{
    background-color: rgb(66, 64, 64);
    color: aliceblue;
    vertical-align: top;
}
td{
    padding: 10px;
}
.green{
    background-color: red;
    border-radius: 5px;
    font-size: 0.8rem;
}