@charset "utf-8";
td{
    color: rgb(49, 7, 42);
}
table, th, td{
    border: solid 1px black;
}
body{
    font-family: "HGS行書体", "游明朝", serif;
    background-color: rgba(158, 208, 229, 0.941)
}
caption{
    font-size: 50px;
}
th{
    font-size: 25px;
    background-color: rgb(57, 101, 168);
}
td{
    font-size: 19px;
}
th{
  padding: 20px;
}